__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
logs/
*.log
htmlcov/
.tox/
.coverage
coverage.xml
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.idea/
.vscode/
dist/
build/
*.egg-info/
.mypy_cache/
.pytest_cache/
